server:
  port: 8010
eureka:
  client:
    service-url:
#      default-zone: http://localhost:8761/eureka/
      default-zone: http://peer2:8762/eureka/,http://peer1:8761/eureka/
  instance:
    prefer-ip-address: true
spring:
  application:
    name: microservice-consumer-user